.App {
  position: relative;
  overflow: visible; /* Ensure this allows the navigation bar to be visible */
  width: 100%;
  min-height: 100vh;
}

.navigation-bar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #070707;
  z-index: 10;
  height: 60px;
}

.logo-container {
  margin-left: 0.8vw; /* Use viewport width to keep margins responsive */
  transform: translateY(-3%); /* Adjust vertical alignment */
}

.logo {
  height: 50px;
}

.navigation-links {
  display: flex;
  margin-left: auto; /* Pushes the links to the right */
  margin-right: 2vw; /* Use viewport width for responsive right margin */
}

.navigation-links a {
  color: white;
  text-decoration: none;
  padding: 0 1vw; /* Use viewport width for padding to scale with screen size */
  font-size: 1.2vw; /* Use viewport width for responsive font size */
  line-height: 60px;
}

@media screen and (max-width: 800px) {
  .navigation-links a {
    font-size: 2.5vw; /* Adjust font size for smaller screens */
  }
}



/* You might also want to add :hover styles for your links */
.navigation-bar a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Example hover effect */
}

/* Existing styles for other elements inside your navigation bar remain the same */


.carousel {
  position: relative; /* Changed from absolute to ensure proper stacking context */
  width: 100%;
  height: 100%;
}

.carousel .carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.buttons-container {
  position: absolute;
  z-index: 10; /* Added to ensure buttons are above other elements */
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore-features-btn, .custom-see-video-btn { /* Changed class to match React component if needed */
  background-color: #008cba;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 10; /* Ensure buttons are clickable */
}

.explore-features-btn:hover, .custom-see-video-btn:hover { /* Changed class for consistency */
  background-color: #005f73;
  transform: scale(1.1);
}

/* Hide carousel controls for cleaner look */
/* .carousel-control-prev, .carousel-control-next {
  display: none;
} */


.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.back-btn {
  position: absolute;
  width: 120px;
  height: 45px;
  top: 100px; /* Adjust based on your preference */
  left: 12px; /* Adjust based on your preference */
  background-color: #0a0a0a; /* Red color for the back button */
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above the video */
  
}

.back-btn:hover {
  background-color: #9b1515; /* Darker shade for the hover state */
}


.back-to-home-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none; /* Remove underline from link */
  display: inline-block; /* Allow margin and padding adjustments */
}

.back-to-home-btn:hover {
  background-color: #005f73;
  transform: scale(1.05);
}





/* Styles for the first carousel item's caption */
/* Styles for the first carousel item's caption */
.caption-one {
  position: absolute;
  right: 10%; /* Decrease this value to move the text more to the right */
  bottom: 40%;
  left: 20%; /* Increase this value to push the text more to the right */
  z-index: 10;
  color: #1f1e1d; /* Updated color for better visibility */
  text-align: right; /* Keep text aligned to the right */
}

.caption-one h3 {
  font-size: 4.5rem; /* Larger font size for the title */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* A clear and legible font */
}

.caption-one p {
  font-size: 1.9rem; /* Larger font size for the subtitle */
  margin-top: 0.5em; /* Space between title and subtitle */
  text-align: right; /* Aligns subtitle text to the right */
  max-width: 60%; /* Adjusted to control the width of the subtitle */
  margin-left: auto; /* This pushes the subtitle towards the right within its container */
  font-family: 'Roboto', sans-serif; /* A modern, readable font */
  font-style: italic; /* Makes title text italic */

}



/* Styles for the second carousel item's caption */
.caption-two {
  position: absolute;
  top: 20%; /* Move up */
  left: 3%; /* Move more to the left */
  z-index: 10;
  color: #000000; /* Light slate grey for readability */
  text-align: left; /* Text aligned to the left */
  font-family: 'Roboto'; /* A modern, readable font */

}

.caption-two h3 {
  font-size: 3.4rem; /* Slightly larger font size for the title */
  margin-bottom: 0.3em; /* Add some space between title and subtitle */
}

.caption-two p {
  font-size: 2.2rem; /* Adjust the subtitle font size if needed */
  text-align: left; /* Ensure subtitle text alignment matches the title */
  font-style: italic; /* Makes title text italic */

  
  
}


/* Styles for the third carousel item's caption */
.caption-three {
    position: absolute;
    right: 10%; /* Decrease this value to move the text more to the right */
    bottom: 50%;
    left: 45%; /* Increase this value to push the text more to the right */
    z-index: 10;
    color: #1f1e1d; /* Updated color for better visibility */
    text-align: right; /* Keep text aligned to the right */
    font-family: 'Roboto'; /* A modern, readable font */

  }

.caption-three h3 {
  font-size: 3.5rem; /* Larger font size for the title */
  margin: 0;
  

}

.caption-three p {
  font-size: 2.3rem; /* Larger font size for the subtitle */
  margin-top: 0.2em; /* Spacing between title and subtitle */
  font-style: italic; /* Makes title text italic */

}












/* Adjust styles as needed for the container */
.buttons-container {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Styles for the 'Get Started' button */
.custom-get-started-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 24px;
  font-size: 24px;
  border-radius: 20px; /* Updated to be consistent */
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  margin-bottom: 20px; /* Add space between buttons if stacked */
}

.custom-get-started-btn:hover {
  background-color: #494928;
}

.arrow-icon {
  background: url('../public/images/arrow_btn.png') no-repeat center center;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 16px;
}

.custom-get-started-btn:hover .arrow-icon {
  background-color: #e33e2b;
}

/* Styles for the 'See the video' button */
.custom-see-video-btn {
  background: rgb(90, 88, 88); /* Color of the button */
  color: rgb(255, 255, 255); /* Text color */
  padding: 10px 20px; /* Adjust padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 20px; /* Font size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  display: flex; /* Aligns items in a row */
  align-items: center; /* Aligns items vertically */
  justify-content: left; /* Centers items horizontally */
  max-width: 450px; /* Adjust the maximum width */
}

.custom-see-video-btn img {
  margin-left: 10px; /* Space between text and icon */
  width: 28px; /* Icon width */
  height: 24px; /* Icon height */
}

.custom-see-video-btn:hover {
  background-color: rgb(146, 10, 10); /* Button background color on hover */
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}





