
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif; /* Updated font-family for better readability */
  overflow-x: hidden; /* Hide horizontal scroll */
}

.personality-page {
  display: flex;
  min-height: 100vh; /* Ensures full viewport height */
  background-color:#d4d4d3da; /* Slightly transparent white */
  color: #333; /* Set a default text color for better contrast */
}

.personality-content {
  flex-basis: 50%; /* Takes up half of the container */
  background: url('../public/images/homepage.jpg') no-repeat center center;
  background-size: cover; /* Covers the entire area of the div */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personality-form-container {
  flex-basis: 50%; /* Takes up the other half of the container */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns the form in the center of its container */
  justify-content: center;
}

.form-promo, .question {
  background-color: #e4edf0;
  border-radius: 20px;
  padding: 20px; /* Increased padding for better spacing */
  margin-bottom: 20px;
  color: #1b1a1a;
  font-size: 18px; /* Slightly increased font size for better readability */
  width: 100%;
}

.question p {
  margin: 0;
  font-weight: bold;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Added margin for spacing */
}

.radio-buttons label {
  background-color: #e4edf0; /* Light background color for visibility */
  padding: 15px; /* Increased padding for bigger touch targets */
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 18px; /* Increased font size within buttons for better readability */
}

.radio-buttons label:hover, .radio-buttons label:active {
  background-color: #c2d1d9; /* Darker background on hover/active for feedback */
}

.personality-heading {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
  font-size: 2em; /* Maintain increased font size for heading */
  font-weight: 700; /* Make the font bold */
  margin-top: 2em; /* Space above the header */
  margin-bottom: 1.5em; /* Increased space below the header */
  text-align: center; /* Center the header text */
  color: #000000; /* Maintain darker color for the heading */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .personality-page {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .personality-content,
  .personality-form-container {
    flex: 1 0 auto; /* Allow each section to adjust its size automatically */
    width: 100%; /* Full width for smaller screens */
  }

  .personality-form-container {
    padding: 20px; /* Less padding on smaller screens for more space */
  }

  .personality-heading {
    font-size: 1.5em; /* Adjust font size for mobile */
  }
}
