/* General styles for the recommendation form */
.recommendation-form {
    max-width: 800px; 
    margin: 50px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent for better visibility against the background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Needed for correct positioning inside a potentially positioned parent */
}

/* Add background image to the whole page or container */
body, .recommendation-page { /* Adjust according to your HTML structure */
    min-height: 100vh;
    background-image: url('../public/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Adjusted input and button styles for consistency and spacing */
.recommendation-form input[type="text"], 
.recommendation-form .country-dropdown__control, 
.recommendation-form button {
    width: 100%; /* Use full width for alignment */
    padding: 15px; 
    margin-bottom: 20px; /* Increased space between elements */
    font-size: 16px; 
    border-radius: 5px; /* Rounded edges for modern look */
}

.recommendation-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.recommendation-form button:hover {
    background-color: #0056b3;
}

/* Additional styles for error messages */
.error-message {
    color: #ff0000;
    margin-bottom: 20px; /* Ensure space above inputs */
}

/* Loading spinner and additional components */
.loading-spinner {
    margin: 30px auto; /* Centered with more space */
}

.recommendations-section {
    margin-top: 30px;
}

.recommendations-section .university {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.recommendations-section .university h4 {
    color: #007bff;
    margin-bottom: 15px; /* More space after titles */
}

.recommendations-section .university p, .recommendations-section .university a {
    margin-bottom: 10px;
}

.recommendations-section .university a {
    display: inline-block; /* Ensure that the link does not stretch the full width */
    background-color: #f4f4f4;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.recommendations-section .university a:hover {
    background-color: #e2e2e2; /* Light change on hover for interaction feedback */
}
