/* Global page settings */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden; /* Hide horizontal scroll */
}

/* Add this in your Signup.css */
.university-select, .country-select {
  margin-bottom: 20px; /* Adjust this value as needed */
}


.signup-page {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
  min-height: 100vh; /* Ensures full viewport height */
  background-color: #ffffff; /* Updated to white background */
}

.signup-content {
  background: url('../public/images/students.jpg') no-repeat center center;
  background-size: contain; /* Ensures the entire image is visible */
  flex: 1 1 500px; /* Flexible sizes for responsive design */
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
}

.signup-form-container {
  flex: 1 1 400px; /* Flexible sizes for responsive design */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-promo {
  background-color: #e6e6e6; /* Light grey for a subtle look */
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}

.signup-form {
  background-color: #0c365c; /* Off-white background for the form */
  padding: 50px; /* Increased padding for more space */
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Increased width for better layout */
  max-width: 450px; /* Adjusted max width for better form proportion */
  margin: 20px auto; /* Auto margins for horizontal centering */
}

.signup-form h2 {
  margin-bottom: 20px; /* Increased spacing for clear separation */
  text-align: center; /* Center the title */
  color: #ffffff; /* Darker color for title */
}

.signup-form input, 
.signup-form select {
  width: 100%; /* Full width for all fields */
  padding: 12px; /* Comfortable padding */
  margin-bottom: 20px; /* Uniform bottom margin for all elements */
  border: 2px solid #ddd; /* Consistent light border for all elements */
  border-radius: 8px; /* Smoothed corners */
  background-color: #fff; /* White background for input fields */
}

.signup-form button {
  width: 100%;
  padding: 15px;
  background-color: #367caa; /* Green color for the action button */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Consistent with other elements */
}

.signup-form button:hover {
  background-color: #43a047; /* Slightly darker green for hover effect */
}

.signup-form small {
  display: block;
  margin-top: 25px;
  text-align: center;
}

.signup-form a {
  color: #22a846; /* Keeping the link color for consistency */
  text-decoration: underline; /* Underline for clarity */
}
